<section class="budget">
    <div>
        <app-charts></app-charts>
    </div>
    <span>

    </span>
    <app-edit></app-edit>
</section>

<ng-template #budget>
    <div class="modal-header">
        <h4 class="modal-title pull-left">修改项目周期</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body period">
        <p class="declare">说明：项目周期调整后，预算需重新设置</p>
        <p class="date">
            <label>项目周期</label>
            <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
        </p>
    </div>
    <div class="modal-bottom">
        <button (click)="modalRef.hide()">取消</button>
        <button (click)="modalRef.hide()">确定</button>
    </div>
</ng-template>
