.toggle {
  .btn {
    background: #33CD5F;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    color: #fff;
    padding: 0;
    cursor: pointer;
    margin: 0 auto;
  }
  .status {

  }
}
