.app-info {
  width: 490px;
  height: 169px;
  background-color: #f8f8f8;
  border-right: 1px solid #EEEEEE;
}
.app-budget {
  width: 358px;
  height: 169px;
  background-color: #f8f8f8;
  border-right: 1px solid #EEEEEE;
}
.app-toggle {
  width: 246px;
  height: 169px;
  background-color: #f8f8f8;
}
.basics-top {
  div {
    float: left ;
  }
}
.basics-bottom {
  background-color: #f8f8f8;
  width: 1096px;
  border-top: 1px solid #eee;
}
.basics {
  border: 1px solid #eee;
  width: 1096px;
}
.header {
  font-size: 16px;
  color: #393939;
  margin-bottom: 12px;
}
