<table>
    <thead>
    <tr>
        <th width="339px">成员姓名</th>
        <th width="426px">角色</th>
        <th width="331px">差旅政策</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>安小小</td>
        <td>项目负责人</td>
        <td>总监级</td>
    </tr>
    <tr>
        <td>安小小</td>
        <td>项目成员</td>
        <td>员工级</td>
    </tr>
    <tr>
        <td>安小小</td>
        <td>项目成员</td>
        <td>员工级</td>
    </tr>
    <tr>
        <td>安小小</td>
        <td>项目成员</td>
        <td>员工级</td>
    </tr>
    <tr>
        <td>安小小</td>
        <td>项目成员</td>
        <td>员工级</td>
    </tr>
    </tbody>
</table>
