<div class="projectManage">
    <div>
        <h2>项目管理</h2>
        <a href="javascript:void(0)">新建项目</a>
    </div>
    <p class="desCon">
        说明：项目管理功能用于按项目(成本中心)管理出差预算及相应的差旅政策，对应预算支出可以提供预算预警，同时在统计中可以查看按照项目的统计数据
    </p>
    <div class="content">
        <div class="tabs">
            <div>
                <a href="javascript:void(0)">全部</a>
                <a href="javascript:void(0)">运行中</a>
                <a href="javascript:void(0)">等待开始</a>
                <a href="javascript:void(0)">已停用</a>
                <a href="javascript:void(0)">已到期</a>
            </div>
            <div>
                <app-search-btn></app-search-btn>
            </div>
        </div>
        <div class="charts">
            <div class="chartItem" *ngFor="let item of projectList">
                <h3>{{item.title}}</h3>
                <p>{{item.statusText}}</p>
                <app-charts></app-charts>
            </div>
        </div>
    </div>

</div>
